@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* scrollbar  */
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #14532d;
  }

  /* contact section vector img */
  .circle-vector-img {
    background-image: url("./circle-vector.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
}
